.custom-select {
   background-color: #D9D9D9;
   position: relative;
   min-width: 114px;
   user-select: none;
}
.custom-select.custom-select-open {
   color: #fff;
}
.custom-select.custom-select-open .custom-select__selected {
   background-color: #232729;
}
.custom-select.custom-select-open .custom-select__selected::after {
   content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 6 6' fill='none'%3e%3cpath d='M0 5.5L3 0.5L6 5.5H0Z' fill='white'/%3e%3c/svg%3e");
}
.custom-select.custom-select-open .custom-select__selected .custom-select__placeholder,
.custom-select.custom-select-open .custom-select__selected .custom-select__tag-selected {
   color: #fff;
}
.custom-select:not(:last-child) {
   margin-right: 10px;
}
@media (max-width: 575.98px) {

   .custom-select:not(:last-child) {
      margin-right: 8px;
   }
}
.custom-select__selected {
   align-items: center;
   cursor: pointer;
   display: flex;
   height: 50px;
   padding-left: 12px;
   padding-right: 32px;
}
.custom-select__selected::after {
   content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='6' height='6' viewBox='0 0 6 6' fill='none'%3e%3cpath d='M0 0.5L3 5.5L6 0.5H0Z' fill='black'/%3e%3c/svg%3e");
   position: absolute;
   right: 12px;
   top: 12px;
   z-index: 1;
}
.js-custom-select .custom-select__tag-selected,
.custom-select__placeholder {
   pointer-events: none;
   user-select: none;
}
.custom-select__placeholder {
   color: #000;
   font-size: 17px;
   font-weight: 500;
   line-height: 20.4px;
   position: relative;
   text-align: center;
}
.custom-select .custom-select__body {
   background-color: #232729;
   border-top: 1px solid #232729;
   display: none;
   left: 0;
   /*padding: 12px 2px 11px 12px;*/
   padding-bottom: 11px;
   position: absolute;
   right: 0;
   width: 100%;
   z-index: 5;
}
.custom-select.custom-select-open .custom-select__body {
   display: block;
}
.custom-select__list {
   overflow-y: auto;
   max-height: 250px;
}
.custom-select__list::-webkit-scrollbar {
   background: transparent;
   padding: 8px;
   width: 3px;
}
.custom-select__list::-webkit-scrollbar-thumb {
   background-color: #454e53;
   margin: 2px;
}
.custom-select__list-item {
   cursor: pointer;
   display: block;
   font-size: 17px;
   font-weight: 400;
   line-height: 20.4px;
   padding: 3px 10px;
   position: relative;
   transition: 0.3s ease 0s;
}
.custom-select__list-item.selected,
.custom-select__list-item:hover {
   background-color: #2F3539;
}
.custom-select__list-item:not(:last-child) {
   margin-bottom: 7px;
}
.custom-select__list-item.selected {
   cursor: default;
   pointer-events: none;
}